<div id="post-recipe">
<%= form_for @recipe do |r| %>
<p id="recipe-input"><%= r.label :title %></p>
<%= r.text_field :title %>
<p id="recipe-input"><%= r.label :ingredients %></p>
<%= r.text_area :ingredients %>
<p id="recipe-input"><%= r.label :directions %></p>
<%= r.text_area :directions %></br>
<p id="recipe-input"><%= r.label :time %></p>
<%= r.text_field :time %></br></br>
<%= r.submit %>
<% end %>
</div>
