<h2> Recipes </h2>
<%= button_to "Post a new recipe", new_recipe_path %>
<%= form_tag recipes_path, :method => 'get' do %>
  <p>
    Search any ingredient, recipe or cuisine:
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<%= will_paginate @recipe %>
<ul>
  <% @recipes.each do |recipe| %>
  <li><%= link_to recipe.title, recipe_path(recipe) %></li>
  <% if current_user && current_user.votes.where(:recipe_id => recipe.id, :up => true). present? %>
    *
  <% else %>
    <%= link_to "+", votes_path(:vote => { :recipe_id => recipe.id, :up => true }), :method => :post %>
  <% end %>
  <% if current_user && current_user.votes.where(:recipe_id => recipe.id, :up => false).present? %>
    *
  <% else %>
    <%= link_to "-", votes_path(:vote => { :recipe_id => recipe.id, :up => false }), :method => :post %>
  <% end %>
    Up: <%= recipe.votes.where(:up => true).count %>
    Down: <%= recipe.votes.where(:up => false).count %>
    Votes: <%= recipe.votes.where(:up => true).count - recipe.votes.where(:up => false).count %>
  </br>
</br>
<p>by <%= @recipes.first.user %> </p>
<% end %>
</ul>
<%= will_paginate @recipe %>
