<body id="recipe-id">
<h3><%= @recipe.title %></h3>

<p>Ingredients: <%= @recipe.ingredients %></p>
<p>Directions: <%= @recipe.directions %></p>
<p>Time (minutes): <%= @recipe.time %></p>
<p>
  <p>Tags:</p>
  <% @recipe.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>
</body>
