<h2>Edit your profile</h2>
<%= form_for @user do |f| %>

<%= f.label :first_name %>
<%= f.text_field :fname %></br>
</br>
<%= f.label :last_name %>
<%= f.text_field :lname %></br>
</br>
<%= f.label :location %>
<%= f.text_field :location %></br>
</br>
<%= f.label :favorite_cuisine %>
<%= f.text_field :favorite_cuisine %></br>
</br>
<%= f.label :image, "Attach an Image" %>
<%= f.file_field :image %></br>
</br>
<%= f.submit "Update" %>
<% end %>

