<h2>Your Profile</h2>
<h3><%= current_user.fname %></h3>
<h3><%= current_user.lname %></h3>
<h3><%= current_user.email %></h3>
<h3>Location: <%= current_user.location %></h3>
<h3>Favorite Food: <%= current_user.favorite_cuisine %></h3>
